{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "printWidth": 120,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/hooks/(.*)$",
    "^@/pages/(.*)$",
    "^@/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/modules/(.*)$",
    "^@/assets/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^@/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
