{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@assets/(.*)$",
    "^@store/(.*)$",
    "^@utils/(.*)$",
    "^@/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}