@import '/src/assets/styles/mixins.scss';

.root {
  display: block;
  border: 1px solid var(--field-bg);
  border-radius: rem(8);
  padding: rem(5) rem(15);
  width: 100%;
  height: rem(50);
  font-size: 1rem;
  line-height: 150%;
  color: var(--primary-text);
  background-color: transparent;

  &::placeholder {
    padding-left: rem(4);
  }

  &:focus {
    background-color: var(--field-bg);
  }
}
