@import '/src/assets/styles/mixins.scss';

.root {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 150%;
  color: var(--primary-text);
}

.icon {
  margin-right: rem(8);
  font-size: rem(40);
}

.avatar {
  margin-right: rem(8);
  border-radius: 50%;
  width: rem(40);
  height: rem(40);
  background-color: #e0e0e0;
}
