@import '/src/assets/styles/mixins.scss';

.root {
  position: fixed;
  left: 0;
  top: var(--header-height);
  width: var(--menu-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--secondary-bg);
}
