@import '/src/styles/mixins.scss';

.root {
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: rem(10);
  }
}

.input {
  border-radius: rem(8);
  padding: rem(10) rem(15);
  width: 100%;
  font-size: rem(16);
  color: var(--primary-text);
  background-color: var(--bg-body);
}

.error {
  margin-top: rem(5);
  font-size: rem(12);
  color: var(--primary);
}
