@import 'src/styles/mixins.scss';

.root {
  display: flex;
  align-items: center;
  font-size: rem(16);
  color: var(--primary-text);
}

.avatar {
  display: block;
  margin-right: rem(12);
  border-radius: 50%;
  width: rem(30);
  height: rem(30);
}

.username {
  margin-right: rem(8);
}
