@import 'src/styles/mixins.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(30);
  width: 100%;
  height: var(--header-height);
  background-color: transparent;
}

.logoLink {
  display: flex;
}

.logoIcon {
  width: rem(148);
  height: rem(40);
}
