@import '/src/assets/styles/mixins.scss';

.root {
  padding: 0 var(--menu-inner-offset);

  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--secondary-text);
  transition: color 0.35s ease;

  &::before {
    content: '';
    position: absolute;
    left: calc(-1 * var(--menu-inner-offset));
    top: 15%;
    bottom: 15%;
    display: block;
    width: 3px;
    background-color: rgb(214 115 92);
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
  }

  @include hover {
    &::before {
      transform: none;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  border-radius: rem(8);
  width: 40px;
  height: 40px;
  background-color: var(--primary-background);
  transition: background-color 0.25s ease-in-out;

  svg {
    width: rem(24);
    height: rem(24);
  }
}

.image {
  display: flex;
  overflow: hidden;
  margin-right: rem(12);
  border-radius: 50%;
  height: 40px;
}

.linkActive {
  color: var(--primary-text);
  pointer-events: none;

  .icon {
    background-color: var(--primary);
  }
}
