@import '/src/assets/styles/mixins.scss';

.comments {
  position: relative;
  border-radius: rem(10);
  padding: rem(20);
  background-color: var(--secondary-bg);

  > h2 {
    font-size: 1.2rem;
    color: var(--white);
  }

  .line {
    margin: 1rem 0;
    width: 100%;
    height: 2px;
    background-color: #303241;
  }

  > p {
    font-size: 1rem;
    color: #6b6b7b;
  }
}

.commentItem {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: rem(20);
  }

  > div:last-child {
    margin-left: 1rem;
  }
}

.author {
  display: block;
  margin-bottom: rem(5);
  font-size: 1rem;
  color: var(--primary-text);
}

.message {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.form {
  display: flex;
  width: 100%;
}

.bottomForm {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  width: calc(100% - 2.5rem);
}
