@import '/src/assets/styles/mixins.scss';

.root {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}

.error {
  margin-top: 5px;
  font-size: rem(12);
  color: var(--primary);
}
