@import '/src/assets/styles/mixins.scss';

:root {
  --primary: #d6735c;
  --secondary: #29333d;
  --white: #fff;
  --black: #000;
  --primary-text: #fff;
  --primary-icon: #fff;
  --secondary-text: #c5c5c5;
  --secondary-icon: #c5c5c5;
  --primary-bg: #14191f;
  --secondary-bg: #1c232b;
  --field-bg: #29333d;
  --shadow: 0 12px 28px 0 rgba(0 0 0 / 20%), 0 2px 4px 0 rgba(0 0 0 / 10%);
  --font-family: 'Ubuntu', sans-serif;
  --content-width: #{rem(1110)};
  --container-offset: #{rem(15)};
  --header-height: #{rem(72)};
  --menu-width: #{rem(300)};
  --menu-inner-offset: #{rem(20)};
}
