@import '/src/styles/mixins.scss';

.root {
  position: relative;
  max-width: none;
}

.form {
  position: absolute;
  left: -200%;
  right: 0;
  top: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: rem(8);
  padding: rem(25);
  background-color: var(--primary-background);
}

.button {
  border-radius: rem(8);
  padding: rem(7) rem(20);
  font-size: rem(16);
  color: var(--primary-text);
  background-color: var(--primary);
}

.formButton {
  margin-top: rem(20);
  border-radius: rem(8);
  width: 100%;
  height: rem(40);
  max-width: rem(150);
  font-size: rem(16);
  color: var(--primary-text);
  background-color: var(--bg-body);
}

.typeAuth {
  margin-top: rem(10);
  color: var(--white);
}
